<?xml version="1.0"?>
<launch>
	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">   	
  	</include>

	<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">

    	<arg name="map_file" value="/home/wkw/mymap/housemap.yaml" />
  	</include>

	<node name = "init_pose1" pkg = "advanced_navi" type = "init_pose1" output="screen"/>

</launch> 