<?xml version="1.0"?>
<launch>
    <arg name="open_rviz" default="true"/>
	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">   	
  	</include>

	<!-- <group if="$(arg open_rviz)"> 
   
    	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find octo_mapping)/rviz/pp.rviz"/>

	</group> -->

</launch> 